{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        ["babel-plugin-transform-rename-import", {
          "original": "fluent",
          "replacement": "fluent/compat"
        }]
    ]
}
