name: "@fluent/dom"
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  dist:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12.x, 14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{matrix.node}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node}}
      - name: Install build tools
        run: npm ci
      - name: Install package dependencies
        working-directory: ./fluent-dom
        run: npm ci
      - name: make dist
        working-directory: ./fluent-dom
        run: make dist
