name: test
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  dist:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20.19.0, 22, latest]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{matrix.node}}
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}
      - run: npm ci
      - run: npm run build --workspaces
      - run: npm test
      - run: npm run lint
      - run: npm run docs
